<ul class="nav nav-tabs mb-4">
  <li class="nav-item">
    <%= link_to t('places.tabs.sports'),
                admin_place_place_sports_path(place),
                class: "nav-link #{'active' if active == :sportfields}" %>
  </li>

  <li class="nav-item">
    <%= link_to t('places.tabs.managers'),
                admin_place_place_managers_path(place),
                class: "nav-link #{'active' if active == :managers}" %>
  </li>

  <li class="nav-item">
    <%= link_to t('places.tabs.products'),
                admin_place_product_listings_path(place),
                class: "nav-link #{'active' if active == :products}" %>
  </li>
</ul>
