<div class='flickr_pagination d-flex justify-content-center align-items-end'>
  <%= will_paginate paging_collection,
                    previous_label: '<i class="fa-solid fa-arrow-left"></i>'.html_safe,
                    next_label: '<i class="fa-solid fa-arrow-right"></i>'.html_safe %>
</div>
