<%= search_form_for @q, url: admin_users_path, class: 'row align-items-center w-100 justify-content-end' do |f| %>
  <%= f.hidden_field :role_name_eq, value: params.dig(:q, :role_name_eq) %>
  <div class='col-5 mt-auto'>
    <%= f.search_field :full_name_or_username_or_email_or_phone_cont, class: 'form-control', placeholder: 'Search...' %>
  </div>
  <div class='col-1 mt-auto'>
    <%= button_tag type: 'submit', class: 'btn btn-outline-primary', id:'btn-search' do %>
      <i class='fa-solid fa-magnifying-glass'></i>
    <% end %>
  </div>
<% end %>
