<div class="card shadow-sm border-0 w-50 mx-auto">
  <div class="card-header bg-light">
    <h5 class="mb-0"><%= t('suppliers.title.edit') %></h5>
  </div>

  <div class="card-body">
    <%= render 'form' %>
  </div>
</div>