<div class="card shadow-sm border-0 w-50 mx-auto">
  <div class="card-header bg-light d-flex align-items-center">
    <%= link_to back_to_list, class: 'btn col-1' do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
    <h5 class="mb-0 col-8"><%= t('place_managers.title.new') %></h5>
  </div>

  <div class="card-body">
    <%= render 'form' %>
  </div>
</div>